body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    margin-bottom: 30px;
  }
  
  .jumbotron {
    background-color: #f8f9fa;
    padding: 100px;
  }
  
.card-body:hover{
  background-color: black;
}
  